.clock-container {
    margin: auto;
    height: 10rem;
    width: 10rem;
}

#clock-face {
    fill: hsl(198, 0%, 40%);
    stroke: hsl(198, 0%, 80%);
    stroke-width: 4px;
}

#hour-hand, #min-hand {
    fill: hsl(198, 0%, 91%);
    stroke-width: 1px;
    stroke: hsl(198, 0%, 55%);
}

#sec-hand {
    stroke: hsl(9, 100%, 43%);
}